@model IEnumerable<TodoWebApp.Models.TodoItem>
@{
    ViewData["Title"] = "ToDo List";
    var currentSort = ViewData["CurrentSort"] as string;
    var dueSortParam = ViewData["DueSortParm"] as string;
    var addedSortParam = ViewData["AddedSortParm"] as string;
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0 opacity-50">@ViewData["Title"]</h1>
    <span class="pe-5 opacity-75 fs-4 text-lightblue-bottom">@ViewData["StatusMessage"]</span>
    <img src="~/images/favicon.png" alt="Logo" style="height:48px; width:auto;" asp-append-version="true" />
    @* <img src="~/images/checkFader.gif" alt="Logo" style="height:32px; width:auto;" asp-append-version="true" /> *@
</div>

<p><a asp-action="Create" class="btn btn-primary">Add New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Done</th>
            <th>Title</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@addedSortParam">
                    Added
                    @if (currentSort == "Added")
                    {
                        <span>&#9650;</span>  @* ascending *@
                    }
                    else if (currentSort == "added_desc")
                    {
                        <span>&#9660;</span>  @* descending *@
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@dueSortParam">
                    Due
                    @if (currentSort == "Due")
                    {
                        <span>&#9650;</span>   @* ascending *@
                    }
                    else if (currentSort == "due_desc")
                    {
                        <span>&#9660;</span>   @* descending *@
                    }
                </a>
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="pe-0 align-middle"><input type="checkbox" asp-for="@item.IsDone" class="form-check-input checkbox-lg" disabled /></td>
                <td class="pe-0 align-middle">
                    @*                  
                    <a asp-action="Edit" asp-route-id="@item.Id">@item.Title</a>
                    @if (item.DueDate.HasValue && item.DueDate.Value.Date < DateTime.Today && !item.IsDone)
                    {
                        <span class="text-warning fs-5" title="Item is past due">&#9888;</span>
                    } 
                    *@
                    <span class="has-tooltip"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="@item.Details.Replace("\n", "<br/>")">
                        <a asp-action="Edit" asp-route-id="@item.Id">@item.Title</a>
                        @if (item.DueDate.HasValue && item.DueDate.Value.Date < DateTime.Today && !item.IsDone)
                        {
                            <span class="text-warning fs-5" title="Item is past due">&#9888;</span>
                        }
                    </span>
                </td>
                <td class="pe-0 align-middle">@item.EntryDate?.ToShortDateString()</td>
                <td class="pe-0 align-middle">@item.DueDate?.ToShortDateString()</td>
                <td class="pe-0 align-middle">
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>